@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 44 52% 92%;
    --foreground: 25 25% 15%;
    --card: 44 52% 96%;
    --card-foreground: 25 25% 15%;
    --popover: 44 52% 96%;
    --popover-foreground: 25 25% 15%;
    --primary: 14 70% 62%;
    --primary-foreground: 14 70% 98%;
    --secondary: 14 50% 88%;
    --secondary-foreground: 14 70% 25%;
    --muted: 14 40% 94%;
    --muted-foreground: 14 20% 55%;
    --accent: 284 25% 67%;
    --accent-foreground: 284 25% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 14 30% 83%;
    --input: 14 30% 88%;
    --ring: 14 70% 62%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 25 15% 10%;
    --foreground: 44 30% 85%;
    --card: 25 15% 15%;
    --card-foreground: 44 30% 85%;
    --popover: 25 15% 15%;
    --popover-foreground: 44 30% 85%;
    --primary: 14 70% 62%;
    --primary-foreground: 14 70% 98%;
    --secondary: 14 50% 20%;
    --secondary-foreground: 14 50% 90%;
    --muted: 14 20% 25%;
    --muted-foreground: 14 20% 65%;
    --accent: 284 25% 67%;
    --accent-foreground: 284 25% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 14 20% 30%;
    --input: 14 20% 35%;
    --ring: 14 70% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
